---
layout: default
pagination: 
  enabled: true
---
<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
  <div class="page">
  
    <header class="post-header">
      <h1 class="post-title">Welcome</h1>
      <p>
        <b>Thanks for everyone who made the Swedish Bioinformatics Workshop 2024 a great success!</b>
        <br>
        The largest Swedish bioinformatics and computational biology conference in 2024 was be hosted in Uppsala, at the Swedish University of Agricultural Sciences, on November 4 and 5, 2024.
        <br>
        <b>See you next year in Gothenburg!</b>
    </header>
  
    {% include page_divider.html %}

    <img src="{{ '/assets/sbw2024-group_small.jpeg' | relative_url }}" alt="group picture of workshop attendees"> <br>

    {% include page_divider.html %}
  
    <article class="post-content">
      <h2>Introduction to SBW2024</h2>
      <p>The Swedish Bioinformatics Workshop has been an annual event since 2000, and is hosted by different Swedish universities each year. It is the largest gathering of bioinformaticians and computational biologists in Sweden. The event is targeted at and organized by PhD students and postdocs, but it's open to everyone working with any kind of bioinformatics or computational biology.  <br><br>
        The Swedish Bioinformatics Workshop 2024 (SBW 2024) was an event that brought together researchers, students, and professionals from across Sweden to explore the latest advancements in bioinformatics. Held at the Swedish University of Agricultural Sciences, the workshop featured keynote presentations, hands-on workshops, and networking sessions. The SBW2024 was part of the Nordic Computational Biology (Nordic CompBio) week and open to participants from other Nordic countries.
        Visit <a href="https://www.nordic-compbio.org/events">Nordic CompBio</a> for more information on other regional programs, and future events.<br><br>
        We welcomed a total of 205 participants on site. Additionally, 318 attendees registered for virtual participation, making SBW 2024 a hybrid meeting that reached a wide audience within Sweden, the Nordics and the world.
      </p>

      
      {% include page_divider.html %}
      
      <h2>Registration</h2>
      <p>Registration for in-person participation to the SBW2024 is now <strong>closed</strong>! The last day to register was October 1, 2024.  </p>

      <h3>Registration fees</h3>
      <table>
        <tr>
          <th>Participant</th>
          <th>Before August 18, 2024</th>
          <th>After August 18, 2024</th>
        </tr>
        <tr>
          <td>Student (*) /Postdoc at a Swedish University</td>
          <td>Free</td>
          <td>Free</td>
        </tr>
        <tr>
          <td>Other academic participants</td>
          <td>500 SEK</td>
          <td>1,000 SEK</td>
        </tr>
        <tr>
          <td>Non-academic participants</td>
          <td>1,500 SEK</td>
          <td>2,000 SEK</td>
        </tr>
      </table>

      <p>(*) Students include all PhD students as well as Master students who are currently in their final year working on their thesis project.</p>

    </article>
  
  </div>
</div>
