table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 25%);
  font-weight: 600;
  padding: 8px;
  padding: $small-spacing 5;
  text-align: left;
  background-color: lighten($blue, 10%);
  color: white;
}

td {
  border-bottom: $base-border;
  padding: 8px;
  padding: $small-spacing 5;
}

/* Style for odd rows */
tr:nth-child(odd) {
  background-color: lighten($base-border-color, 5%);
  vertical-align: middle;
}

tr:hover {background-color:darken($base-border-color, 5%);}

td,tr,
th {
  vertical-align: middle;
}

.schedule-table tr:nth-child(odd),
.schedule-table tr:nth-child(even) {
  background-color: transparent;
}
.schedule-table th:nth-child(1),
.schedule-table td:nth-child(1) { width: 20%; }   /* Time */
.schedule-table th:nth-child(2),
.schedule-table td:nth-child(2) { width: 43%; }   /* Activity */
.schedule-table th:nth-child(3),
.schedule-table td:nth-child(3) { width: 37%; }   /* Speakers */